# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build output
/dist
/build

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# IDE and Editor specific files
/.vscode/
/.idea/
*.swp
*.swo
